.title {
  display: flex;
}
.newsBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #32363a;
  padding: 30px;
  margin-left: 800px;
  margin-right: 800px;
  background-color: #36364d;
}

.detailImage {
  border-radius: 30px;
  border: 5px solid white;
  width: 600px;
  height: 300px;
}
